/* style.css */

html,
body {
  height: 100%;
  border: 0px;
  background-color: rgb(255, 252, 245);
}

body {
  margin: 0px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
